<% provide:title, t("about.about_text") %>
<h1><%= t("about.about_text") %></h1>
<p>
  <%= t("about.the") %><%= link_to (raw t "ror_em"), t("url.railstutorial") %>
  <%= t "about.is_a" %>
  <%= link_to t("book"), t("url.railstutorial_book") %> <%= t "about.and" %>
  <%= link_to t("about.screencasts"), t("url.screencasts") %>
  <%= t "about.to" %>
  <%= link_to t("ror"), t("url.rubyonrails") %>.
  <%= t "about.this" %>.
</p>
