
<% provide :title, t("help_text") %>
<h1><%= t "help_text" %></h1>
<p>
  <%= t "help.get_help" %>
  <%= link_to t("help.rails_help_section"), t("url.railstutorial_help") %>.
  <%= t("help.get_help_sample_app") %>
  <%= link_to (raw t("ror_em")), t("url.railstutorial_book") %>
  <%= t "book" %></a>.
</p>
