<footer class="footer">
  <small>
    <%= t "footer.the" %><%= link_to t("ror_tut"), t("url.railstutorial") %></a>
    <%= t "footer.by" %><%= link_to t("footer.michael_hartl"), t("url.michaelhartl") %></a>
  </small>
  <nav>
    <ul>
      <li><%= link_to t("nav.about"), about_path %></li>
      <li><%= link_to t("nav.contact"), contact_path %></li>
      <li><%= link_to t("nav.news"), t("url.railstutorial") %></li>
    </ul>
  </nav>
</footer>
