<!DOCTYPE html>
<html>
  <head>
    <%= render t "application.rails_default" %>
    <%= render t "application.shim" %>
  </head>
  <body>
    <%= render t "application.header" %>
    <div class="container">
      <% flash.each do |message_type, message| %>
        <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
      <% end %>
      <%= yield %>
      <%= render t "application.footer" %>
      <%= debug(params) if Rails.env.development?%>
    </div>
  </body>
</html>
