<!DOCTYPE html>
<html>
  <head>
    <%= render t "application.rails_default" %>
    <%= render t "application.shim" %>
  </head>
  <body>
    <%= render t "application.header" %>
    <div class="container">
      <%= yield %>
      <%= render t "application.footer" %>
    </div>
  </body>
</html>
